@import "tailwindcss/base";
@import "./custom-base-styles.css";

@import "tailwindcss/components";
@import "./custom-components.css";

@import "tailwindcss/utilities";
@import "./custom-utilities.css";



/* admin bar fix */
body.admin-bar {
    max-height: calc(100vh - 32px);
}